﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">
            <h1 class="text-center">
                {{vm.tournament.tournamentName}}
            </h1>
            <h4 class="text-center">
                {{vm.tournament.gameName}}
            </h4>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        PARTY SCORES
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th ng-click="orderByField='partyName'; reverseSort = !reverseSort" role="button">Party</th>
                        <th ng-click="orderByField='score'; reverseSort = !reverseSort" role="button">Score</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <input placeholder="search username.." ng-model="vm.partyName" class="form-control" />
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="party in vm.partyScores|orderBy:orderByField:reverseSort | filter:vm.partyName"
                        role="button">
                        <td><strong>{{party.partyName}}</strong></td>
                        <td><strong>{{party.score}}</strong></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        SINGLE SCORES
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th ng-click="orderByField='personFullName'; reverseSort2 = !reverseSort2" role="button">Name</th>
                        <th ng-click="orderByField='score'; reverseSort2 = !reverseSort2" role="button">Score</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <input placeholder="search name.." ng-model="vm.personFullName" class="form-control" />
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="solo in vm.soloScores|orderBy:orderByField:reverseSort2 | filter:vm.personFullName"
                        role="button">
                        <td><strong>{{solo.personFullName}}</strong></td>
                        <td><strong>{{solo.score}}</strong></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>