﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">

            <div ng-if="main.isLoggedIn()">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addTournamentModal" ng-click="vm.initTournamentAdd()">Add new tournament</button>
            </div>

            <table class="table table-hover">
                <tr role="button">
                    <th ng-click="orderByField='tournamentName'; reverseSort = !reverseSort">Tournament</th>
                    <th ng-click="orderByField='gameName'; reverseSort = !reverseSort">Game</th>
                    <th ng-click="orderByField='tournamentSeason'; reverseSort = !reverseSort">Season</th>
                    <th ng-click="orderByField='tournamentFromDate'; reverseSort = !reverseSort">From</th>
                    <th ng-click="orderByField='tournamentToDate'; reverseSort = !reverseSort">To</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input placeholder="search tournaments" ng-model="vm.tournamentName" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search games" ng-model="vm.gameName" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search seasons" ng-model="vm.tournamentSeason" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search from date" ng-model="vm.tournamentFromDate" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search to date" ng-model="vm.tournamentToDate" class="form-control" />
                        </div>
                    </td>
                </tr>
                <!--// TODO dates-->
                <tr ng-repeat="t in vm.tournaments|orderBy:orderByField:reverseSort | filter:{tournamentName:vm.tournamentName,gameName:vm.gameName,tournamentSeason:vm.tournamentSeason, tournamentFromDate:vm.tournamentFromDate,tournamentToDate:vm.tournamentToDate}"
                    ng-click="vm.openTournament(t.tournamentId)" role="button">
                    <td><strong>{{t.tournamentName}}</strong></td>
                    <td><strong>{{t.gameName}}</strong></td>
                    <td><strong>{{t.tournamentSeason}}</strong></td>
                    <td><strong>{{t.tournamentFromDate}}</strong></td>
                    <td><strong>{{t.tournamentToDate}}</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Add new tournament Modal -->
<div class="modal fade" id="addTournamentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add tournament</h4>
            </div>
            <div class="modal-body">

                <form name="tournamentAddForm">
                    <div class="form-group">
                        <label>Tournament name</label>
                        <input ng-model="vm.newTournament.tournamentName" required class="form-control" placeholder="Tournament name" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label>From date</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.newTournament.tournamentFromDate" is-open="vm.calendarFrom.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="dd.mm.yyyy" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('calendarFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label>To date</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.newTournament.tournamentToDate" is-open="vm.calendarTo.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="dd.mm.yyyy" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('calendarTo')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Game</label>
                        <div>
                            <select ng-model="vm.newTournament.gameId" ng-required="true">
                                <option ng-repeat="game in vm.games" value="{{game.gameId}}">{{game.gameName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Season</label>
                        <div>
                            <select ng-model="vm.newTournament.tournamentSeason" ng-required="true">
                                <option ng-repeat="season in vm.seasons">{{season}}</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-disabled="tournamentAddForm.$invalid" ng-click="vm.addTournament()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>