﻿<div class="container">
    <div class="col-md-12 col-md-offset-4">
        <form name="registrationForm" class="col-md-4 bckg">
            <div class="form-group">
                <label>Login:</label>
                <input name="login" ng-model="vm.user.login" required class="form-control" placeholder="Login" maxlength="30"/>
            </div>
            <div class="form-group">
                <label>First name</label>
                <input ng-model="vm.user.firstName" required type="text" class="form-control" placeholder="First name" maxlength="30"/>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input ng-model="vm.user.lastName" required type="text" class="form-control" placeholder="Last name" maxlength="30"/>
            </div>
            <div class="form-group">
                <label>Birth date</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.user.birthday" is-open="vm.calendar.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="dd.mm.yyyy" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input ng-model="vm.user.password" required type="password" class="form-control" placeholder="Password" maxlength="100"/>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input ng-model="vm.user.confirmPassword" required type="password" class="form-control" placeholder="Confirm password" maxlength="100"/>
            </div>
            <div class="form-group">
                <input type="submit" ng-click="vm.register()" value="Register" ng-disabled="registrationForm.$invalid" class="btn btn-primary col-md-12">
            </div>
        </form>
    </div>
</div>
