﻿<div class="container">
    <div class="col-md-12 col-md-offset-4">
        <div class="col-md-4 bckg">
            <div ng-if="main.userIsInRole('admin')">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new game</button>
            </div>
            <table class="table table-hover">
                <tr>
                    <th ng-click="orderByField='gameName'; reverseSort = !reverseSort" role="button">Games</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input placeholder="search for a game" ng-model="vm.gameSearchString" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="game in vm.gameList|orderBy:orderByField:reverseSort | filter:vm.gameSearchString" role="button" ng-click="vm.openGame(game.gameId)">
                    <td><strong>{{game.gameName}}</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Add new game Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add game</h4>
            </div>
            <div class="modal-body">

                <form name="gameAddForm">
                    <div class="form-group">
                        <label>Game name</label>
                        <input name="newGameName" ng-model="vm.newGame.gameName" required class="form-control" placeholder="Game name" maxlength="50"/>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-disabled="gameAddForm.$invalid" ng-click="vm.addGame()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>