﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">

            <div ng-if="main.userIsInRole('admin')">
                <button class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit game</button>
                <button class="btn btn-danger" ng-click="vm.delete()">Delete</button>
            </div>

            <h1 class="text-center">{{vm.game.gameName}}</h1>

            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            TOP SCORERS
                        </div>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th ng-click="orderByField='userName'; reverseSort = !reverseSort" role="button">Username</th>
                            <th ng-click="orderByField='soloScore'; reverseSort = !reverseSort" role="button">Score</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input placeholder="search username.." ng-model="vm.userName" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="solo in vm.soloScores|orderBy:orderByField:reverseSort | filter:vm.userName">
                            <td><strong>{{solo.userName}}</strong></td>
                            <td><strong>{{solo.soloScore}}</strong></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit game</h4>
            </div>
            <div class="modal-body">

                <form name="gameEditForm">
                    <div class="form-group">
                        <label>New game name</label>
                        <input name="newGameName" ng-model="vm.game.gameName" required class="form-control" placeholder="Game name" />
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-disabled="gameEditForm.$invalid" ng-click="vm.saveGame()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
