﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">
            <div class="text-center">
                <h3>{{vm.teamInfo.team.teamName}}</h3>
                <h5>{{vm.teamInfo.team.teamShortName}}</h5>
                <span>Rating: {{vm.teamInfo.team.teamRating}}</span>
            </div>

            <div>
                <h2>Members</h2>

                <button class="btn btn-primary" ng-if="vm.loaded && vm.isManager()" data-toggle="modal" data-target="#addMemberModal" ng-click="vm.loadPlayersToAdd()">Add member</button>

                <table class="table table-hover">
                    <tr ng-repeat="person in vm.teamInfo.personsInTeam">
                        <td>
                            {{person.userName}}
                        </td>
                        <td>
                            {{person.userFullName}}
                        </td>
                        <td>
                            {{person.teamRollString}}
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="vm.removeMember(person.personInTeamId, person.userName)" ng-if="vm.loaded && vm.isManager()">Remove</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Add new player Modal -->
<div class="modal fade" id="addMemberModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add player</h4>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <tr>
                        <th ng-click="orderByField='userName'; reverseSort = !reverseSort" role="button">Username</th>
                        <th ng-click="orderByField='firstLastName'; reverseSort = !reverseSort" role="button">Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <input placeholder="search username.." ng-model="vm.userName" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input placeholder="search full name.." ng-model="vm.firstLastName" class="form-control" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="p in vm.playersToAdd|orderBy:orderByField:reverseSort | filter:{userName:vm.userName, firstLastName:vm.firstLastName}">
                        <td>{{p.userName}}</td>
                        <td>{{p.firstLastName}}</td>
                        <td><button ng-click="vm.addMember(p.userIntId, p.userName)" class="btn btn-success">Add</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>