﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">

            <div ng-if="main.isLoggedIn()">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addTeamModal">Add new team</button>
            </div>

            <table class="table table-hover">
                <tr role="button">
                    <th ng-click="orderByField='teamName'; reverseSort = !reverseSort">Team name</th>
                    <th ng-click="orderByField='teamShortName'; reverseSort = !reverseSort">Team short name</th>
                    <th ng-click="orderByField='teamRating'; reverseSort = !reverseSort">Team rating</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input placeholder="search a team" ng-model="vm.teamSearchString" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search team by short name" ng-model="vm.teamShortSearchString" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search team by rating" ng-model="vm.ratingSearchString" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="team in vm.teamList|orderBy:orderByField:reverseSort | filter:{teamName:vm.teamSearchString,teamShortName:vm.teamShortSearchString,teamRating:vm.ratingSearchString}"
                    ng-click="vm.openTeam(team.teamId)" role="button">
                    <td><strong>{{team.teamName}}</strong></td>
                    <td><strong>{{team.teamShortName}}</strong></td>
                    <td><strong>{{team.teamRating}}</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Add new team Modal -->
<div class="modal fade" id="addTeamModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add team</h4>
            </div>
            <div class="modal-body">

                <form name="teamAddForm">
                    <div class="form-group">
                        <label>Team name</label>
                        <input ng-model="vm.newTeam.teamName" required class="form-control" placeholder="Team name" maxlength="50"/>
                    </div>
                    <div class="form-group">
                        <label>Team short name</label>
                        <input ng-model="vm.newTeam.teamShortName" required class="form-control" placeholder="Team short name" maxlength="8"/>
                    </div>
                    <div class="form-group">
                        <label>Team rating</label>
                        <input ng-model="vm.newTeam.teamRating" required class="form-control" placeholder="Team rating" />
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-disabled="teamAddForm.$invalid" ng-click="vm.addTeam()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>