﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">
            <table class="table table-hover">
                <tr role="button">
                    <th ng-click="orderByField='userName'; reverseSort = !reverseSort">User</th>
                    <th ng-click="orderByField='firstLastName'; reverseSort = !reverseSort">Player name</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input placeholder="search username.." ng-model="vm.userName" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="search name.." ng-model="vm.firstLastName" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="u in vm.users|orderBy:orderByField:reverseSort | filter:{userName:vm.userName, firstLastName:vm.firstLastName}"
                    role="button" ng-click="vm.openUser(u.userIntId)">
                    <td><strong>{{u.userName}}</strong></td>
                    <td><strong>{{u.firstLastName}}</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>
