﻿<div class="container">
    <div class="col-md-12 col-md-offset-2">
        <div class="col-md-8 bckg">

            <h1 class="text-center">{{vm.soloScores[0].userName}}</h1>
            <h4 class="text-center">{{vm.soloScores[0].userFullName}}</h4>

            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            GAME SCORES
                        </div>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th ng-click="orderByField='gameName'; reverseSort = !reverseSort" role="button">Game</th>
                            <th ng-click="orderByField='soloScore'; reverseSort = !reverseSort" role="button">Score</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input placeholder="search username.." ng-model="vm.userName" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="solo in vm.soloScores|orderBy:orderByField:reverseSort | filter:vm.gameName"
                            ng-click="vm.openGame(solo.gameId)" role="button">
                            <td><strong>{{solo.gameName}}</strong></td>
                            <td><strong>{{solo.soloScore}}</strong></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
</div>