﻿<nav class="navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tournament</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" ng-if="!main.isLoggedIn()">
                <li><input ng-model="main.user.login" placeholder="username" class="form-control" /></li>
                <li><input ng-model="main.user.password" placeholder="password" class="form-control" type="password" /></li>
                <li><button ng-click="main.login()" class="btn btn-primary">Login</button></li>
                <li><button ng-click="main.gotoRegisterView()" class="btn btn-default">Register</button></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="main.isLoggedIn()">
                <li><label class="btn">{{main.username}}</label></li>
                <li><button ng-click="main.logout()" class="btn btn-primary">Logout</button></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/games">Games</a></li>
                <li><a href="#/teams">Teams</a></li>
                <li><a href="#/tournaments">Tournaments</a></li>
                <li><a href="#/players">Players</a></li>
            </ul>
        </div>
    </div>

</nav>