html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#mainBody {
    position: relative;
    height: auto !important;
    min-height: 100%;
    background-image: url('http://orig03.deviantart.net/35f8/f/2014/036/a/c/background_gaming__website__by_fnkk-d758mbq.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#flashMessageBox {
    position: fixed;
    top: 5em;
    left: 30%;
    right: 30%;
    z-index: 1;
}

/* kerge transparent taust */
.bckg {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 2em;
    margin-top: 3em;
}
